h2 {
    font-size: 2.5em;
    width: fit-content;
    margin: auto;
}

p.about {
    font-size: 1.5em;
    text-indent: 50px;
    margin: 40px 20px 0px 20px;
}

.avatar {
    display: block;
    width: 200px;
    height: 200px;
    margin: 50px auto;
    border-radius: 50%;
}