.carousel {
  overflow: hidden;
  margin: auto;
}

.inner {
  white-space: nowrap;
  transition: transform 1.5s;
}

.carousel-item {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 150px;
  color: #fff;
}

.indicators {
  display: flex;
  justify-content: center;
}

.indicators > button {
  margin: 5px;
}

.indicators > button.active {
  background-color: green;
  color: #fff;
}

@media (min-width: 740px) {
  .carousel-item {
    height: 300px;
  }
}
