h2 {
  font-size: 2.5em;
  width: fit-content;
  margin: auto;
}

form {
  display: flex;
  flex-direction: column;
  margin: 50px auto 30px;
  padding: 0 10px 10px 10px;
  width: auto;
  border: 2px solid;
  background-color: #a6b07e;
}

form input {
  width: auto;
  height: 50px;
  font-size: 2em;
}

textarea {
  height: 300px;
  font-size: 2em;
}

label {
  margin: 20px 0 0 5px;
  font-size: 1.8em;
}

.contact-validation {
  font-size: large;
}

.submit-btn {
  margin-top: 20px;
  width: fit-content;
}

.form-page {
  columns: 1;
  margin: 25px 30px 30px 30px;
}

@media (min-width: 744px) {
  form {
    width: 642px;
  }

  .contact-validation {
    font-size: larger;
  }
}
