form {
  display: flex;
  flex-direction: column;
}

form input {
  width: auto;
  height: 50px;
  font-size: 2em;
}

textarea {
  height: 300px;
  font-size: 2em;
}

label {
  margin: 20px 0 0 5px;
  font-size: 1.8em;
}

.submit-btn {
  margin-top: 20px;
  width: fit-content;
}

.form-container {
  margin: 0 20px 0 20px;
  width: auto;
}
