footer {
  background-color: #a6b07e;
  position: fixed;
  width: 100%;
  bottom: 0;
}

.footer-links {
  margin: auto;
  display: flex;
  justify-content: space-around;
  width: 50%;
}

.link {
  text-decoration: none;
  color: black;
  padding: 20px;
  margin: 5px;
  background-color: #e1c48b;
  border-radius: 10px;
  border: 2px solid;
  border-color: #644536;
}
