* {
    box-sizing: border-box;
}

.nav {
    display: none;
    width: 80%;
    /* display: flex; */
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.nav-link {
    box-sizing: border-box;
    padding: 20px;
    border: 2px solid;
    border-color: #644536;
    background-color: #bca371;
    text-decoration: none;
    color: black;
    font-size: 1.5em;
}

.nav-link.active {
    background-color: #e1c48b;
}