a {
  text-decoration: none;
  color: black;
}

.project-list {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  padding: 0;
  margin: 0;
  list-style: none;
}

.project-container {
  display: flex;
  flex-direction: column;
  width: auto;
  margin: 15px 20px;
  flex-basis: 350px;
  flex-grow: 1;
}

.image-container {
  display: flex;
  flex-direction: column;
  border: 2px solid;
}

.project-image {
  width: 100%;
}

.link-container {
  width: auto;
  display: flex;
  flex-wrap: wrap;
  background-color: #a6b07e;
}

.project-title {
  box-sizing: border-box;
  width: 100%;
  padding: 10px;
  border-top: 2px solid;
  font-size: 1.5em;
  background-color: white;
}

.project-link {
  box-sizing: border-box;
  padding: 10px;
  margin: 7px;
  border: 2px solid;
  border-radius: 20px;
  background-color: white;
}

.project-link:hover {
  background: lightgrey;
}
