* {
  box-sizing: border-box;
}

.project-container {
    position: relative;
  width: 30%;
}

.project-image {
  width: 100%;
}

.project-title {
  position: absolute;
  top: 8px;
  left: 16px;
  background-color: whitesmoke;
}

.project-deployed {
  position: absolute;
  bottom: 16px;
  left: 20%;
  background-color: whitesmoke;
}

.project-repo {
  position: absolute;
  bottom: 8px;
  right: 20%;
  background-color: whitesmoke;

}
