h2 {
  font-size: 2.5em;
  width: fit-content;
  margin: auto;
}

a {
  text-decoration: none;
  color: black;
}

.portfolio-page {
  margin-top: 25px;
}
.project-list {
  columns: 1;
  column-gap: 40px;
  padding: 0;
  margin: 50px 30px 30px 30px;
  list-style: none;
}

.project-container {
  break-inside: avoid;
  display: flex;
  flex-direction: column;
  width: auto;
  padding: 20px 5px 0 5px;
  margin: 0 0 30px;
  background-color: #a6b07e;
}

.image-container {
  display: flex;
  flex-direction: column;
  border: 2px solid;
  margin: 0;
}

.project-image {
  width: 100%;
}

.link-container {
  width: auto;
  display: flex;
  flex-wrap: wrap;
}

.project-title {
  box-sizing: border-box;
  width: 100%;
  padding: 0.3em 0.3em 0 0.3em;
  border-top: 2px solid;
  font-size: 1.5em;
  background-color: white;
}

.subtitle {
  padding: 0 1rem 0.5em 1em;
  background-color: white;
}

.project-link {
  box-sizing: border-box;
  padding: 10px;
  border: 2px solid;
  border-radius: 20px;
  margin: 10px 5px;
  background-color: white;
}

.project-link:hover {
  background: lightgrey;
}

@media (min-width: 744px) {
  .project-list {
    columns: 2;
  }
}

@media (min-width: 1440px) {
  .project-list {
    columns: 3;
  }
}
