li {
  font-size: 1.5em;
  margin: 0 20px;
}

hr {
  height: 5px;
  background-color: goldenrod;
}

.resume {
  display: block;
  box-sizing: border-box;
  margin: 0 auto 30px;
  padding: 20px;
  width: fit-content;
  height: fit-content;
  font-size: 1.5em;
  text-decoration: none;
  color: black;
  background-color: whitesmoke;
  border-radius: 20px;
  border: 2px solid;
  border-color: black;
}

.resume-page {
  columns: 1;
  column-gap: 60px;
  margin: 25px 30px 30px 30px;
}

.resume-container {
  break-inside: avoid;
}

.resume-page p {
  margin: 30px auto;
  font-size: 1.5em;
  text-align: center;
  text-indent: 20px;
}

.program-experience {
  display: inline-block;
  break-inside: avoid;
}

.skill-list {
  display: block;
  box-sizing: border-box;
  width: fit-content;
  padding: 0;
  margin: 30px auto;
}

.resume:hover {
  background-color: lightgray;
}

@media (min-width: 744px) {
  .resume-page {
    columns: 2;
    column-rule: solid 6px goldenrod;
  }

  .resume-container hr {
    display: none;
  }
}

@media (min-width: 1440px) {
  .skill-list {
    columns: 2;
  }
}
