p {
  font-size: 1.5em;
  text-indent: 20px;
  margin: 40px 20px 0 20px;
}

li {
  font-size: 1.5em;
  margin: 0 20px;
}

.resume-container {
  display: flex;
  flex-direction: column;
}

a.resume {
  box-sizing: border-box;
  margin: 20px 0px 20px 100px;
  padding: 20px;
  width: fit-content;
  font-size: 1.5em;
  text-decoration: none;
  color: black;
  background-color: #e1c48b;
  border-radius: 20px;
  border: 2px solid;
  border-color: #644536;
}

.resume:hover {
  background-color: #bca371;
}
